.text-align-right{
    text-align: right;
}
.text-align-center{
    text-align: center;
}
.m-row {
    margin-top: 5px;
}
.m-lable{
    margin-bottom: 2px;
}
.m-input {
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
}