.m-dialog {
    position: relative;
    display: flex;
}

    .m-dialog .dialog-modal {
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        z-index: 999;
    }

    .m-dialog .dialog-content {
   
    }
